/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 10px;
    max-width: 800px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the header horizontally */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.centered-section {
    text-align: center;
    margin-bottom: 20px;
}

.columns-container {
    display: flex;
    width: 100%;
}

.column {
    flex: 1;
    margin: 10px 0; /* Adjust the margin to 10px top and bottom, 0 left and right */
    padding: 20px;
}

.left-column {
    flex-basis: 25%;
    text-align: left;
}

.right-column {
    flex-basis: 75%;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

h5 {
    margin-top: 0;
}

p {
    margin: 0;
}

.story-content {
    margin-top: 20px;
    text-align: left; /* Align story content to the left */
}

/* Add this rule to decrease the font size in the left pane */
.left-column ul li {
    list-style-type: disc;
    margin-bottom: 4px;
    color: orange;
    font-size: 15px; /* Adjust the font size as needed */
}

/* Example hover effect for links */
a:hover {
    color: #ff6600; /* Change the text color on hover */
    text-decoration: underline; /* Underline the link on hover */
}

/* Example fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.story-content {
    animation: fadeIn 0.5s ease-in-out; /* Apply the fade-in animation to story content */
}

/* Example media query for responsiveness */
@media (max-width: 768px) {
    main {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

/* Gradient background for the main container */
main {
background: linear-gradient(to bottom, #ffffff, #e0dcdc);
}

header h5 {
    margin-bottom: 0px; /* Adjust the margin-bottom as needed */
}

.story-content {
    margin-top: 0px; /* Adjust the margin-top as needed */
}

